{% extends "BJLinksBundle::layout.html.twig" %}

{% block title %}
Accueil
{% endblock %}

{% block body %}

<div class="container">

	<h1 class="page-header">Bienvenue sur LinksSite</h1>

	<p>Vous passez beaucoup de temps sur Internet, visitez des sites utiles et souhaitez les conserver, sans avoir peur de les perdre ? LinksSite est fait pour vous !</p>

</div>

{% endblock %}